.taskCard{
    background-color: rgb(91, 91, 91);
    border-radius: 15px;
    width: 10em;
    height: 10em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    margin: 0;
    font-size: 1.5em;
    word-wrap: break-word;
}

p{
    margin: 0;
    max-height: 6em; /* ajuste la altura máxima de acuerdo a su necesidad */
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 100%;
}


.taskImage{
    width: 100%;
    z-index: -9999;

}


.tag{
    background-color: rgba(189, 189, 189, 0.326);
    border-radius: 15px;
    display: inline;
    width: 50%;
    padding: .2em;
    text-align: center;
    transform: scale(1); /* Escala inicial */
    transition: transform 0.3s ease-in-out;
    
}

.tag:hover{
    cursor: pointer;
    transform: scale(1.08); /* Escala al pasar el cursor por encima */

}